@import "variables";

.layout {
  width: 100%;
  display: inline-flex;
  text-align: initial;

  .navbar {
    flex-direction: row;
    justify-content: center;

    .inner {
      flex: 1;
      max-width: $inner-max;
      padding: 24px;

      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .mix {
        flex-direction: row;
        align-items: center;
        gap: 36px;

        .item {
          font-size: 16px;
          font-weight: 400;
          cursor: pointer;

          opacity: .5;

          .logo {
            width: 22px;
            height: 24px;
  
            mask-image: url("/icon/luna.svg");
            -webkit-mask-image: url("/icon/luna.svg");
            background-color: $luna-dark;
            background-image: url("/icon/luna.svg");
            background-size: 0;
          }

          &.active {
            font-weight: 700;
            opacity: 1;

            .logo {
              background-color: unset;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
        }
      }
    }
  }

  .content {
    flex-direction: row;
    justify-content: center;

    .inner {
      flex: 1;
      max-width: $inner-max;
      padding: 24px;
    }
  }
}